---
import "@styles/tailwind.css";
import { Navbar } from "@/components/Navbar";

type Props = {
    title?: string;
    description: string;
    keywords?: string;
};

const { title, description, keywords } = Astro.props;
const currentPath = Astro.url.pathname;
---

<script is:inline>
    const isBrowser = typeof localStorage !== "undefined";
    const getThemePreference = () => {
        if (isBrowser && localStorage.getItem("theme")) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (isBrowser) {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta name="author" content="Miitto" />
        <meta name="theme-color" content="#000000" />
        <meta name="og:title" content={title ? `${title} | Miitto.dev` : "Miitto.dev"} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={`https://miitto.dev${currentPath}`} />
        <meta name="og:site_name" content="Miitto.dev" />
        <meta name="og:type" content="website" />
        {keywords && <meta name="keywords" content={keywords} />}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={title ? `${title} | Miitto.dev` : "Miitto.dev"} />
        <meta name="twitter:description" content={description} />
        <title>
            {title && `${title} | `}
            Miitto.dev
        </title>
    </head>
    <body class="flex flex-col">
        <Navbar client:load />
        <div class="grid-bg flex min-h-max shrink-0 grow flex-col">
            <main class="flex min-h-max grow flex-col items-center gap-y-16 pt-16">
                <slot />
            </main>

            <slot name="footer" />
        </div>
    </body>
</html>
